.title {
    font-weight: 700;
    font-size: 48px;

    color: #242121;
    &::after {
        content: "";
        display: block;
        margin-top: 29px;
        width: 60px;
        height: 4px;
        background: #fcbb08;
    }
}
.about {
    min-height: 491px;
    padding-top: 152px;
    background-color: #f6f8fa;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__text {
        max-width: 770px;
        p {
            margin-bottom: 25px;
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;

            color: #373a39;
        }
    }
}
