.magic {
    min-height: 840px;
    display: flex;
    justify-content: space-between;

    &__img {
        max-width: 50%;
        object-fit: cover;
    }
    &__content {
        max-width: 470px;
        padding-left: 100px;
    }
    &__title {
        max-width: 350px;
    }
    &__text {
        margin-top: 67px;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;

        color: #373a39;
        p {
            margin-bottom: 30px;
        }
    }
}
