.magic {
    min-height: 840px;
    display: flex;
    justify-content: space-between;
    // background: url("../../img/men.jpg") left no-repeat;

    &__img {
        // max-width: 705px;
        object-fit: cover;
    }
    &__content {
        padding: 100px 135px 180px 130px;
    }
    &__title {
        max-width: 350px;
    }
    &__text {
        margin-top: 67px;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;

        color: #373a39;
        p {
            margin-bottom: 30px;
        }
    }
}
