* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.container {
    max-width: 1174px;
    margin: 0 auto;
}

@import "blocks/header";
@import "blocks/promo";
@import "blocks/about";
@import "blocks/expertise";
@import "blocks/magic";
@import "blocks/portfolio";
@import "blocks/video";
@import "blocks/statistics";
@import "blocks/carousel";
@import "blocks/team";
@import "blocks/pricing";
@import "blocks/contact";
@import "blocks/footer";
